[Unit]
Description=Casserole Discord Bot Service
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/casserolebot/CasseroleDiscordBot
ExecStart=/usr/bin/python3 /home/pi/casserolebot/CasseroleDiscordBot/casseroleBot.py
User=pi
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target